<!doctype html>
<html>
<head>
  <title>Pin !T</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/spinner.css">
  <script src="./javascript/main.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js"></script>
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
  <style>
    .special-well {
        background: rgb(232, 232, 232);
    }
  </style>
</head>
<body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Pin !T</a></li>
        <li>
            <div class="search-bar">
              <form action="/search" method="post">
                <button type="submit" id="search-button" class="icon fa fa-search"></button>
                <input type="search" id="search" placeholder="Search" name="search" required/>
              </form>
            </div>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Recent</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/post">Post</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav><!-- navbar --->

<div class="container">
    <div class="page-header text-center">
        <h1>Profile Page</h1>
    </div>

    <div class="row well text-center">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-3">
            <div class="well special-well">
                <h3>Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>Email</strong>: <%= user.local.email %><br>
                        <strong>Username</strong>: <%= user.local.username %>
                    </p>
                    <a href="/update" class="btn btn-default" id="click">Update</a>
                    <a href="/unlink/local" class="btn btn-danger" id="delete">Delete</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default" id="click">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-3">
            <div class="well special-well">
                <h3 class="text-primary">Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>Email</strong>: <%= user.facebook.email %><br>
                        <strong>Name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-danger" id="delete">Delete</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary" id="click">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-3">
            <div class="well special-well">
                <h3 class="text-info">Twitter</h3>

                <% if (user.twitter.token) { %>
                    <p>
                        <strong>Username</strong>: <%= user.twitter.username %><br>
                        <strong>Name</strong>: <%= user.twitter.displayName %><br>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-danger" id="delete">Delete</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info" id="click">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-3">
            <div class="well special-well">
                <h3 class="text-danger">Google+</h3>

                <% if (user.google.token) { %>
                    <p>
                        <strong>Email</strong>: <%= user.google.email %><br>
                        <strong>Name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger" id="delete">Delete</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger" id="click">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>
</div>


<div class='uil-default-css center-block' style='transform:scale(0.55);' id="spinner">
  <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'>
  </div><div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'>
</div></div><!--spinner-->


<div class="container grid" id="masonry">
    <% data.forEach(function(doc){ %>
      <div class="grid-item">
          <img src="<%= doc.imgLink %>" class="pin-image"/>
        <div class="caption">
            <div class="caption-text blur">
            <h3><%= doc.title %></h3>
            <p><%= doc.description %></p>
            <div>
              <div class="row">
                <div class="like">
                  <% if(doc.likes.length > 0){ %>
                    <% if(doc.likes.indexOf(user._id.toString())  == -1){ %>
                            <form action="/like/<%= doc._id %>" method="post" class="like"><button type="Submit" class="btn btn-primary" id="like"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                            </form>
                    <% }else {%>
                            <form action="/unlike/<%= doc._id%>" method="post" class="like"><button type="Submit" class="btn btn-warning" id="like"><span class="glyphicon glyphicon-thumbs-down"></span> UnLike</button>
                            </form>
                    <% } %>
                  <% } else { %>
                    <form action="/like/<%= doc._id %>" method="post" class="like"><button type="Submit" class="btn btn-primary" id="like"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                    </form>
                  <% } %>
                  <p><%= doc.likes.length %> Likes</p>
                </div>
                
                <div class="repost">
                    
                    <% if(doc.repostedBy.indexOf(user._id.toString()) == -1){ %>
                        <form action="/delete/<%= doc._id%>" method="post">
                            <input type="Submit" class="btn btn-danger" id="delete" value="Delete Pin">
                        </form>
                    <% } else { %>
                        <form action="/unrepublish/<%= doc._id%>" method="post" class="repost">
                            <button type="Submit" class="btn btn-warning" id="repostButton"><span class="glyphicon glyphicon-refresh"></span> UnRepost</button>
                        </form>
                    <% } %>
                    
                    <p><%= doc.repostedBy.length %> Reposts</p>
                </div>
              </div>
            </div>
            <div>
              <% if(doc.tags) { %>
                <p>Tags: 
                  <% for(var a=0;a<doc.tags.length;a++){ %>
                    <a href="/tags/<%= doc.tags[a].substr(1) %>"><%= doc.tags[a] %></a>
                  <% } %>
                </p>
              <% } %>
              <% if(doc.repostedBy.indexOf(user._id.toString()) == -1){ %>
                  <p>Posted by <a href="/profile">You</a></p>
              <% } else { %>
                  <p>Original Poster <a href="/user/<%=doc.user%>"><%=doc.username%></a></p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      
    <% }) %>
    
  </div>




</body>
</html>
